.info
    position: absolute
    left: 16px
    right: 16px
    bottom: 11px
    margin: 0 auto
    max-width: 420px
    text-align: center
    white-space: nowrap
    display: flex
    flex-flow: row nowrap
    justify-content: space-around
    align-content: center

.info-i
    cursor: pointer
    height: 30px
    line-height: 30px
    vertical-align: middle
    --mdc-icon-size: 20px

    &.__hidden
        display: none
