@mixin car-bg($name)
    background: url('assets/' + $name + '.png') no-repeat center
    .__dark &
        background: url('assets/' + $name + '_dark.png') no-repeat center
@mixin car-bg-alarm($name, $alarmName: '', $blink: '')
    @if $alarmName == ''
        .__alarm &
            background: url('assets/' + $name + '_red.png') no-repeat center
            @if $blink != ''
                animation: blink 1.2s linear infinite
        .__dark .__alarm &
            background: url('assets/' + $name + '_red_dark.png') no-repeat center
    @else
        .__alarm_#{$alarmName} &
            background: url('assets/' + $name + '_red.png') no-repeat center
        .__dark .__alarm_#{$alarmName} &
            background: url('assets/' + $name + '_red_dark.png') no-repeat center

@mixin button-bg-center($on: '')
    border: 3px solid #b0c80c
    background-color: var(--paper-card-background-color)
    &:active
        opacity: .8
    .__dark &
        border: 4px solid #000
        background: linear-gradient(to bottom, #3c4042 0%, #141c22 100%)

    @if $on == ''
        .__dark &
            box-shadow: inset 0 2px 1px 0 #5d5d5d
    @else
        background-color: #b0c80c
        .__dark &
            box-shadow: inset 0 2px 1px 0 #6ecaf1, inset 0 0 0 6px #2bafe5

@mixin button-bg-lr($on: '')
    &:active
        opacity: .8
    .__dark &
        background: linear-gradient(to bottom, #3c4042 0%, #141c22 100%)
        & .control-in,
        & .control-s1,
        & .control-s2,
        & .control-i1,
        & .control-i2
            border-color: #000
            border-width: 4px

    @if $on == ''
        & .control-in,
        & .control-s1,
        & .control-s2,
        & .control-i1,
        & .control-i2
            border-color: #b0c80c
        .__dark &
            & .control-in
                box-shadow: inset 0 4px 1px -2px #5d5d5d
    @else
        background: #b0c80c
        .__dark &
            & .control-in
                box-shadow: inset 0 2px 1px 0 #6ecaf1, inset -2px 0 0 6px #2bafe5
            & .control-i1
                box-shadow: 0 0 0 6px #2bafe5
            & .control-i2
                box-shadow: inset 0 0 0 6px #2bafe5

@mixin button-icon($name, $on: '')
    @if $on == ''
        &:after
            background: url('assets/' + $name + '_off.png') no-repeat center
        .__dark &:after
            background: url('assets/' + $name + '_off_dark.png') no-repeat center
    @else
        &:after
            background: url('assets/' + $name + '_on.png') no-repeat center
        .__dark &:after
            background: url('assets/' + $name + '_on_dark.png') no-repeat center

@mixin info-icon($name)
    background: url('assets/' + $name + '.png') no-repeat center
    .__dark &
        background: url('assets/' + $name + '_dark.png') no-repeat center


@keyframes smoke
    0%
        background-image: url('assets/car_indication_smoke_1.png')
    33%
        background-image: url('assets/car_indication_smoke_2.png')
    66%
        background-image: url('assets/car_indication_smoke_3.png')
    100%
        background-image: url('assets/car_indication_smoke_1.png')
@keyframes smoke_dark
    0%
        background-image: url('assets/car_indication_smoke_1_dark.png')
    33%
        background-image: url('assets/car_indication_smoke_2_dark.png')
    66%
        background-image: url('assets/car_indication_smoke_3_dark.png')
    100%
        background-image: url('assets/car_indication_smoke_1_dark.png')
@keyframes smoke_alert
    0%
        background-image: url('assets/car_indication_smoke_red_1.png')
    33%
        background-image: url('assets/car_indication_smoke_red_2.png')
    66%
        background-image: url('assets/car_indication_smoke_red_3.png')
    100%
        background-image: url('assets/car_indication_smoke_red_1.png')
@keyframes smoke_alert_dark
    0%
        background-image: url('assets/car_indication_smoke_red_1_dark.png')
    33%
        background-image: url('assets/car_indication_smoke_red_2_dark.png')
    66%
        background-image: url('assets/car_indication_smoke_red_3_dark.png')
    100%
        background-image: url('assets/car_indication_smoke_red_1_dark.png')

@keyframes blink
    0%
        opacity: 1
    50%
        opacity: 0
    100%
        opacity: 1

.wrapper
    overflow: hidden
    position: relative
    height: 500px
    padding: 20px 0 0 50%
    opacity: 0
    transition: opacity .1s linear
    font-size: 16px
    line-height: 20px
    color: #00aeef
    .__dark &
        color: #fff
    &.__w09
        height: 450px
        padding-top: 24px
        .container
            transform: scale(.9) translateX(-50%)
    &.__w08
        height: 400px
        padding-top: 20px
        .container
            transform: scale(.8) translateX(-50%)
    &.__w07
        height: 350px
        padding-top: 18px
        .container
            transform: scale(.7) translateX(-50%)
    &.__title
        padding-top: 0 !important

.container
    width: 404px
    margin: 0 auto
    transform: translateX(-50%)
    transform-origin: left top

@media (max-width: 360px)
    .container
        transform: scale(.7)

.car
    width: 332px
    height: 197px
    position: relative
    margin: 0 auto 20px auto
    *
        position: absolute

.car-cnt
    top: 67px
    left: 24px
    cursor: pointer

.car-door
    display: none
    top: 28px
    left: 15px
    width: 63px
    height: 91px
    @include car-bg('car_indication_door')
    @include car-bg-alarm('car_indication_door', 'door')

    .__door &
        display: block

.car-body
    top: 19px
    left: 63px
    background: url('assets/car_indication_bg_guard.png') no-repeat center
    width: 158px
    height: 113px
    @include car-bg('car_indication_bg_guard')

.car-hood
    left: 90px
    top: 53px
    width: 103px
    height: 23px
    @include car-bg('car_indication_hood')
    @include car-bg-alarm('car_indication_hood', 'hood')

    .__hood &
        animation: blink 1.2s linear infinite

.car-trunk
    display: none
    width: 128px
    height: 32px
    left: 78px
    top: 0
    @include car-bg('car_indication_trunk')
    @include car-bg-alarm('car_indication_trunk', 'trunk')

    .__trunk &
        display: block

.car-frontlight-left,
.car-frontlight-right
    width: 27px
    height: 15px
    left: 73px
    top: 79px
    @include car-bg('car_indication_frontlight')
    @include car-bg-alarm('car_indication_frontlight', '', 1)

.car-frontlight-right
    transform: scaleX(-1)
    left: 183px

.car-smoke
    display: none
    left: 222px
    top: 22px
    width: 39px
    height: 85px
    background-repeat: no-repeat
    background-position: center
    animation: smoke 1.5s linear infinite
    .__dark &
        animation: smoke_dark 1.5s linear infinite
    .__alert &
        animation: smoke_alert 1.5s linear infinite
    .__dark.__alert &
        animation: smoke_alert_dark 1.5s linear infinite
    .__smoke &
        display: block

.car-key
    display: none
    top: 30px
    left: 117px
    width: 54px
    height: 22px
    @include car-bg('car_indication_key')
    @include car-bg-alarm('car_indication_key', 'ign')

    .__key &
        display: block

.car-hbrake
    display: none
    top: 85px
    left: 117px
    width: 49px
    height: 31px
    @include car-bg('car_indication_parking')
    @include car-bg-alarm('car_indication_parking', 'hbrake')

    .__hbrake &
        display: block

.car-shock
    position: absolute
    top: 0
    right: 65px
    width: 46px
    height: 40px
    background-size: contain !important
    animation: blink 1.2s linear infinite
    @include car-bg-alarm('car_indication_sensor_shock', 'shock_l')
    @include car-bg-alarm('car_indication_sensor_shock', 'shock_h')

.car-tilt
    position: absolute
    top: 0
    left: 60px
    width: 46px
    height: 40px
    background-size: contain !important
    animation: blink 1.2s linear infinite
    @include car-bg-alarm('car_indication_sensor_tilt', 'tilt')

.car-security
    display: none
    top: 0
    left: 0
    cursor: pointer
    .__arm &
        display: block
.car-security-1,
.car-security-5
    width: 39px
    height: 112px
    top: 86px
    left: 0
    @include car-bg('car_indication_sectors_1')
    @include car-bg-alarm('car_indication_sectors_1')
.car-security-2,
.car-security-4
    width: 93px
    height: 84px
    top: 11px
    left: 22px
    @include car-bg('car_indication_sectors_2')
    @include car-bg-alarm('car_indication_sectors_2')
.car-security-3
    width: 114px
    height: 29px
    top: 0
    left: 110px
    @include car-bg('car_indication_sectors_3')
    @include car-bg-alarm('car_indication_sectors_3')
.car-security-4
    transform: scaleX(-1)
    left: 218px
.car-security-5
    transform: scaleX(-1)
    left: 294px

.controls
    width: 404px
    height: 160px
    position: relative
    margin: 0 auto

.control
    position: absolute
    cursor: pointer
    box-sizing: border-box
    overflow: hidden
    .__offline &
        opacity: .4
        pointer-events: none
    &.__inprogress
        pointer-events: none
        &:after
            animation: blink 1.2s linear infinite
    &:after
        content: ''
        position: absolute
        display: block
        top: 0
        bottom: 0
        left: 0
        right: 0

.control-left,
.control-right
    top: 18px
    left: 0
    width: 138px
    height: 124px
    @include button-bg-lr()
    background-size: contain !important

.control-left:after
    background-position: 22px 33px !important

.control-right:after
    background-position: 36px 33px !important

.control-in
    position: relative
    z-index: 1
    height: 100%
    box-sizing: border-box
    border-top: 3px solid #b0c80c
    border-bottom: 3px solid #b0c80c

.control-s1,
.control-i1
    display: block
    position: absolute
    z-index: 1
    width: 180px
    height: 180px
    border: 3px solid #b0c80c
    box-sizing: border-box
    border-radius: 50%
    top: (124px - 180px) / 2
    right: -154px
    left: auto
    background: var(--paper-card-background-color)
    .control-right &
        left: -154px
        right: auto

.control-s2,
.control-i2
    z-index: 1
    display: block
    position: absolute
    width: 300px
    height: 300px
    box-sizing: border-box
    border: 3px solid #b0c80c
    border-radius: 50%
    top: (124px - 300px) / 2
    left: 0
    right: auto
    box-shadow: 0 0 0 20px var(--paper-card-background-color)
    .control-right &
        right: 0
        left: auto

.control-i1,
.control-i2
    z-index: 0
    border-color: transparent
    background: transparent

.control-center
    z-index: 2
    top: 0
    left: 122px
    width: 160px
    height: 160px
    border-radius: 50%
    @include button-bg-center()

.control-right
    left: 266px

.control-icon-arm
    @include button-icon('car_control_icon_arm_start')
    .__arm &
        @include button-icon('car_control_icon_arm_stop', 1)
        &.control-center
            @include button-bg-center(1)
        &.control-left,
        &.control-right
            @include button-bg-lr(1)

.control-icon-ign
    @include button-icon('car_control_icon_ign_start')
    .__smoke &
        @include button-icon('car_control_icon_ign_stop', 1)
        &.control-center
            @include button-bg-center(1)
        &.control-left,
        &.control-right
            @include button-bg-lr(1)

.control-icon-out
    @include button-icon('car_control_icon_out')
    .__out &
        @include button-icon('car_control_icon_out', 1)
        &.control-center
            @include button-bg-center(1)
        &.control-left,
        &.control-right
            @include button-bg-lr(1)

.control-icon-webasto
    @include button-icon('car_control_icon_webasto')
    .__webasto &
        @include button-icon('car_control_icon_webasto', 1)
        &.control-center
            @include button-bg-center(1)
        &.control-left,
        &.control-right
            @include button-bg-lr(1)

.control-icon-horn
    @include button-icon('car_control_icon_poke')

.info
    position: absolute
    left: 16px
    right: 16px
    bottom: 16px
    height: 95px
    text-align: center

.info-i
    position: relative
    cursor: pointer
    float: left
    width: 25%
    height: 20px
    padding-top: 75px
    background-size: 46px auto !important

.info-balance
    @include info-icon('car_status_sim')
.info-battery
    @include info-icon('car_status_storage_battery')
.info-inner
    @include info-icon('car_status_cabin_temperature')
.info-engine
    @include info-icon('car_status_engine_temperature')

.toast
    z-index: 3
    position: absolute
    left: 0
    right: 0
    top: 272px
    background: rgba(0,0,0,.86)
    color: #fff
    height: 52px
    line-height: 52px
    text-align: center
    border-radius: 5px
    font-size: 22px
    pointer-events: none
    transition: opacity .2s ease-in-out
    opacity: 0
    .__dark &
        background: rgba(255,255,255,.9)
        color: #444

.gsm-lvl
    position: absolute
    cursor: pointer
    top: 16px
    right: 16px
    width: 28px
    height: 28px
